  <!-- Main blog display -->
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <% @blogs.each do |blog| %>
          <div class="col-md-4">
            <div class="card mt-3">
              <div class="card-body">
                <h3><%= link_to blog.headline, blog_path(blog.id) %></h3>
                <p><%= blog.content[0,20] %></p>
                <%= link_to "View", blog_path(blog.id), class: 'btn btn-primary' %>
                <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <%= render 'blox/sidebar' %>

  </div>
</div>


  <%= link_to 'New Blog', new_blog_path %>
  <a class="nav-item">
    <%= link_to categories_path, class: "nav-link" do %>
    <i class="fas fa-blog"></i> cate <span class="sr-only">(current)</span>
    <% end %>
  </a>
