<p id="notice"><%= notice %></p>

<p>
  <strong>Headline:</strong>
  <%= @blog.headline %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @blog.picture %>
</p>

<p>
  <strong>Category:</strong>
  <%= @blog.category_id %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
