<!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <h1 class="mt-4"><%= @blog.headline %></h1>
        <%= link_to 'Edit', edit_blog_path(@blog) %> |
        <%= link_to 'Back', blogs_path %>
        <!-- Date/Time -->
        <p><%= @blog.created_at %></p>
        <hr>
        <!-- Preview Image -->
        <%= image_tag @blog.picture, class: "rounded-lg" %>

        <hr>
        <!-- Post Content -->
        <p class="lead"><%= @blog.content %></p>
        <hr>
      </div>
    </div>
  </div>
  </br></br></br></br>
</br></br>
