<div class="container-fluid mt-3 text-center">

  <h3><%= @blog.headline %></h3>
  <p><%= @blog.content%></p>
  <%= link_to "Back", blogs_path, class: 'btn btn-outline-secondary' %>
</div>


<p>
  <strong>Group:</strong>
  <%= @topic.group %>
</p>

<p>
  <strong>Category:</strong>
  <%= @topic.category %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
