<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.youtube.com/channel/UCqfDEe1k6jVtOKNf23PBzLQ" class="text-white">Follow on Youtube</a></li>
            <li><a href="https://www.instagram.com/bachelorsguide" class="text-white">Like on Instagram</a></li>
            <li><a href="mailto:nextbendev@gmail.com" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <p class="navbar-nav">
        <%= link_to home_index_path, class: "navbar-brand d-flex align-items-center" do %>
          <i class="fas fa-cocktail"></i> BACHELORS GUIDE <span class="sr-only">(current)</span>
        <% end %>
      </p>

      <p class="navbar-nav"><%= link_to "Travel", home_travel_path, class: "nav-link" %></p>
      <p class="navbar-nav">  <%= link_to "Food", home_food_path, class: "nav-link" %></p>
      <p class="navbar-nav"><%=  link_to "Nightlife", home_nightlife_path, class: "nav-link" %></p>

      <p class="navbar-nav">
        <%= link_to blogs_path, class: "nav-link" do %>
          <i class="fas fa-blog"></i> Blog <span class="sr-only">(current)</span>
        <% end %>
      </p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
