<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>


  <body>
    <header>
      <%= render "blox/navbar" %>
    </header>

      <div id="main">
        <%= yield %>
      </div>

      <footer class="footer mt-auto py-3">
        <%= render "blox/footer" %>
      </footer>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      
      <script src="https://kit.fontawesome.com/8b41eb6f53.js" crossorigin="anonymous"></script>

  </body>
</html>
